/* ===================== RESET ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    color: inherit;
}

:root {
    --bg-site: #F8F1E2;
    --bg-element: #5C4309;
    --text-element: #F9F7F2;
    --title-color: #2A2313;
}

/* ===================== GLOBAL ===================== */
body {
    background-color: var(--bg-site);
    font-family: 'Segoe UI', sans-serif;
    color: var(--title-color);
}

h1 {
    color: var(--text-element);
    margin-bottom: 10px;
}

a {
    color: var(--text-element);
    font-weight: bold;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    cursor: pointer;
}



/* ===================== HOME ===================== */
.cont_pai_home {
    background-color: var(--bg-site);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.cont_filho_home {
    background-color: var(--bg-element);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    border-radius: 8px;
    gap: 20px;
}

.cont_filho_home button {
    padding: 10px 20px;
    border: solid 1px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    background-color: var(--text-element);
    transition: 0.3s;
}

.cont_filho_home button:hover {
    background-color: var(--title-color);
    color: white;
}

/* ===================== MVV ===================== */
.cont_pai_mvv {
    background-color: var(--bg-site);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.cont_pai_mvv div {
    background-color: var(--bg-element);
    color: var(--text-element);
    text-align: center;
    padding: 20px;
    flex: 1;
    min-width: 250px;
    border: 3px solid var(--title-color);
    border-radius: 8px;
}

/* ===================== SOBRE NÓS ===================== */
.cont_pai_sobreN {
    background-color: var(--bg-site);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.cont_filho_sobreN_esquerda {
    background-color: var(--bg-element);
    flex: 2;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.cont_filho_sobreN_foto {
    background-color: var(--bg-site);
    width: 80%;
    height: 80%;
    border-radius: 8px;
}

.cont_filho_sobreN_direita {
    background-color: var(--bg-element);
    color: var(--text-element);
    flex: 1;
    min-width: 250px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

/* FOOTER */
footer {
    background-color: #8d6e63;
    color: white;
    text-align: center;
    padding: 12px;
    margin-left: 200px;
}