* {
    padding: 0px;
    margin: 0px;
    border: none;
    color: black;
    text-decoration: none;
}

/* <!----------------------------------------- Barra de navegação -----------------------------------------> */

nav .cont_pai_nav {
    background-color: brown;
    width: 10%;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.cont_pai_nav .cont_filho_nav_cima {
    background-color: darkkhaki;
    height: 130px;
    margin: 10px;
}

.cont_pai_nav .cont_filho_nav_user {
    background-color: blanchedalmond;
    margin: 10px;
    text-align: center;
}

.cont_filho_nav_centro {
    background-color: burlywood;
    height: 50%;
    text-align: center;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}

.cont_filho_nav_baixo {
    background-color: darkkhaki;
    text-align: center;
    margin: 10px;
}

/* <!----------------------------------------- Barra de navegação -----------------------------------------> */

.cont_avo_conteudo {
    background-color: aliceblue;
    width: 90%;
    height: 780px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}


.cont_avo_conteudo .cont_pai_card h1 {
    background-color: white;
    margin: 20px;
}

.cont_avo_conteudo .cont_pai_card .cont_filho_info_card {
    background-color: blueviolet;
    height: 150px;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.cont_avo_conteudo .cont_pai_card .cont_filho_info_card .cont_filho_conteudo_card {
    background-color: white;
    height: 100%;
    width: 20%;
    text-align: center;
    border-radius: 6px; 
}

.cont_avo_conteudo .cont_pai_modulos {
    background-color: blanchedalmond;
    height: 65%;
    width: 100%;
}

.cont_avo_conteudo .cont_pai_modulos h1 {
    background-color: white;
    margin: 20px;
}

.cont_avo_conteudo .cont_pai_modulos .cont_filho_info_modulo {
    background-color: blueviolet;
    height: 80%;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.cont_avo_conteudo .cont_pai_modulos .cont_filho_info_modulo a .cont_filho_conteudo_modulo {
    background-color: beige;
    height: 70px;
    display: flex;
    align-items: center;       
    justify-content: flex-start;
    padding-left: 20px;         
    border-radius: 6px;        
}